<section class="blogs">
  <div class="container blogs__container">
    <ul class="blogs__list">
      <li class="blogs__item">
        <a href="/coca/post.html" class="blogs__link">
          <img src="./assets/image/blog/blogs-img-1.jpg" alt="office" class="blogs__link-img">
          <h5 class="blogs__link-title">How we perform long-running tasks using AWS services</h5>
          <p class="blogs__link-descr text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
      </li>
      <li class="blogs__item">
        <a href="/coca/post.html" class="blogs__link">
          <img src="./assets/image/blog/blogs-img-2.jpg" alt="office" class="blogs__link-img">
          <h5 class="blogs__link-title">How we perform long-running tasks using AWS services</h5>
          <p class="blogs__link-descr">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
      </li>
      <li class="blogs__item">
        <a href="/coca/post.html" class="blogs__link">
          <img src="./assets/image/blog/blogs-img-3.jpg" alt="office" class="blogs__link-img">
          <h5 class="blogs__link-title">How we perform long-running tasks using AWS services</h5>
          <p class="blogs__link-descr">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
      </li>
      <li class="blogs__item">
        <a href="/coca/post.html" class="blogs__link">
          <img src="./assets/image/blog/blogs-img-4.jpg" alt="office" class="blogs__link-img">
          <h5 class="blogs__link-title">How we perform long-running tasks using AWS services</h5>
          <p class="blogs__link-descr">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
      </li>
    </ul>
  </div>
</section>