<section class="hero">
  <div class="container hero-decor">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>

    <ul class="hero__tab-controls">
      <li class="hero__tab-controls__item">
        <a
          href="#tab1"
          class="hero__tab-controls-link hero__tab-controls-link--active"
        >
          View all
        </a>
      </li>
      <li class="hero__tab-controls__item">
        <a
          href="#tab2"
          class="hero__tab-controls-link"
        >
          Design
        </a>
      </li>
      <li class="hero__tab-controls__item">
        <a
          href="#tab3"
          class="hero__tab-controls-link"
        >
          Articles
        </a>
      </li>
      <li class="hero__tab-controls__item">
        <a
          href="#tab4"
          class="hero__tab-controls-link"
        >
          Product
        </a>
      </li>
      <li class="hero__tab-controls__item">
        <a
          href="#tab5"
          class="hero__tab-controls-link"
        >
          Software Development
        </a>
      </li>
      <li class="hero__tab-controls__item">
        <a
          href="#tab6"
          class="hero__tab-controls-link"
        >
          Customer Success
        </a>
      </li>
    </ul>

    <div class="hero__tab-content tab-content hero__tab-content--show" id="tab1">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-1.jpg"
              alt="Women typing on laptop and writing on notebook"
              width="515"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author"></address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="hero__article-descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-2.jpg"
              alt="Women"
              width="515"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero__article-descr">
              What are Design Principles?… To understand design principles, we first discuss the principles. 
            </p>
          </div>
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-3.jpg"
              alt="Men"
              width="379"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero__article-descr">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-1.jpg"
              alt="Women typing on laptop and writing on notebook"
              width="515"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author"></address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="hero__article-descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
        <div class="hero__pagination-wrapper">
          <div class="swiper-pagination hero__pagination"></div>
        </div>
      </div>
    </div>
    <div class="hero__tab-content tab-content" id="tab2">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-2.jpg"
              alt="Women"
              width="515"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero__article-descr">
              What are Design Principles?… To understand design principles, we first discuss the principles. 
            </p>
          </div>
          <div class="swiper-slide hero__article">
            <img
              class="hero__article-img"
              loading="lazy"
              src="./assets/image/blog/hero-img-3.jpg"
              alt="Men"
              width="379"
              height="428"
            />
            <div class="hero__article-head text-p-small">
              <div class="hero__article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero__article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero__article-descr">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
        <div class="hero__pagination-wrapper">
          <div class="swiper-pagination hero__pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
